# local testing
test.py

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pkl
*.db
*.sqlite3
*.log
*.pot
*.py[cod]
*$py.class

# Airflow specific files
airflow.cfg
airflow.db
*.log
*.pid
logs/
run/
tmp/
dags/__pycache__/
*.db

# DBT specific files
*.dbt/
target/
dbt_packages/
*.dbt/
dbt/snapshots
local_test

# Virtual Environment
venv/
.venv/
env/
.env/
.secrets
__pycache__/
*.pyo

# Jupyter Notebooks checkpoints
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# MacOS specific files
.DS_Store

# Logs
*.log

# test and build directories
test/
build/
dist/

# Other files that are often ignored
*.bak
*.swp
*.swo
*.sublime-project
*.sublime-workspace
.env
outputs

# gcp-terraform

terraform.tfstate
terraform.tfstate.backup

.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfvars
*.tfvars
crash.log


# local dev

connections.json
variables.json
